In [1]:
# Imports
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, Date
from sqlalchemy.orm import Session
# For entering in cleaned CSV files
import os
import csv
import pandas as pd

In [2]:
Base = declarative_base()
engine = create_engine('sqlite:///hawaii.sqlite_4')

In [3]:
class Stations(Base):
    __tablename__='stations'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    
class Measurements(Base):
    __tablename__='measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(Date)
    prcp = Column(Integer)
    tobs = Column(Integer)

In [4]:
# Create a "Metadata" Layer That Abstracts our SQL Database
# ----------------------------------
# Create (if not already in existence) the tables associated with our classes.
Base.metadata.create_all(engine)

# Create a Session Object to Connect to DB
# ----------------------------------
# Session is a temporary binding to our DB
session = Session(bind=engine)

In [5]:
# Importing both csv files
hawaii_measurements_csv = os.path.join('cleaned_hawaii_measurements.csv')
hawaii_stations_csv = os.path.join('cleaned_hawaii_stations.csv')
measurements_df = pd.read_csv(hawaii_measurements_csv)
stations_df = pd.read_csv(hawaii_stations_csv)

In [6]:
measurements_df = measurements_df[['station', 'date', 'prcp', 'tobs']]
measurements_df.head()

       station        date   prcp  tobs
0  USC00519397  2010-01-01   0.08    65
1  USC00519397  2010-01-02   0.00    63
2  USC00519397  2010-01-03   0.00    74
3  USC00519397  2010-01-04   0.00    76
4  USC00519397  2010-01-06 -10.00    73

In [7]:
stations_df = stations_df[['station', 'name', 'latitude', 'longitude', 'elevation']]
stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [8]:
station_list = []
for each in stations_df.station:
    station_list.append(each)
print(station_list[0])

USC00519397

In [9]:
name_list = []
for each in stations_df.name:
    name_list.append(each)
print(name_list)

['WAIKIKI 717.2, HI US', 'KANEOHE 838.1, HI US', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 'PEARL CITY, HI US', 'UPPER WAHIAWA 874.3, HI US', 'WAIMANALO EXPERIMENTAL FARM, HI US', 'WAIHEE 837.5, HI US', 'HONOLULU OBSERVATORY 702.2, HI US', 'MANOA LYON ARBO 785.2, HI US']

In [10]:
lat_list = []
for each in stations_df.latitude:
    lat_list.append(each)
print(lat_list)

[21.271599999999999, 21.423400000000001, 21.5213, 21.3934, 21.499199999999998, 21.335560000000001, 21.45167, 21.315200000000001, 21.333100000000002]

In [11]:
lon_list = []
for each in stations_df.longitude:
    lon_list.append(each)
print(lon_list)

[-157.8168, -157.8015, -157.8374, -157.9751, -158.0111, -157.71138999999999, -157.84888999999995, -157.9992, -157.80250000000001]

In [14]:
elev_list = []
for each in stations_df.elevation:
    elev_list.append(each)
print(elev_list)

3.0

In [17]:
list_for_stations = []
i = 0
while len(list_for_stations) < len(station_list):
#     s_station = station_list[i]
#     s_name = name_list[i]
#     s_lat = lat_list[i]
#     s_lon = lon_list[i]
#     s_elev = elev_list[i]
    storing_station = Stations(station = station_list[i], name = name_list[i], latitude = lat_list[i], 
                               longitude = lon_list[i], elevation = elev_list[i])
    list_for_stations.append(storing_station)
    i = i+ 1

In [16]:
for s_station in list_for_stations:
    print(s_station.station)
    print(s_station.name)
    print(s_station.latitude)
    print(s_station.longitude)
    print(s_station.elevation)
print(i)

USC00519397
WAIKIKI 717.2, HI US
21.2716
-157.8168
3.0
USC00513117
KANEOHE 838.1, HI US
21.4234
-157.8015
14.6
USC00514830
KUALOA RANCH HEADQUARTERS 886.9, HI US
21.5213
-157.8374
7.0
USC00517948
PEARL CITY, HI US
21.3934
-157.9751
11.9
USC00518838
UPPER WAHIAWA 874.3, HI US
21.4992
-158.0111
306.6
USC00519523
WAIMANALO EXPERIMENTAL FARM, HI US
21.33556
-157.71139
19.5
USC00519281
WAIHEE 837.5, HI US
21.45167
-157.84889
32.9
USC00511918
HONOLULU OBSERVATORY 702.2, HI US
21.3152
-157.9992
0.9
USC00516128
MANOA LYON ARBO 785.2, HI US
21.3331
-157.8025
152.4
9

In [17]:
# station_list = []
# for each in stations_df.station:
#     station_list.append(Stations(station=each))
# print(station_list)
# print(len(station_list))
# session.add_all(station_list)
# session.commit()

In [18]:
# name_list = []
# for each_name in stations_df.name:
#     name_list.append(Stations(name=each_name))
# print(name_list)
# print(len(name_list))
# session.add_all(name_list)
# session.commit()

In [19]:
# blah = session.query(Stations)
# for s in blah:
#     print(s.station)
#     print(s.name)

In [7]:
measurements_list = session.query(Measurements)

In [8]:
for eachobject in measurements_list:
    print(eachobject.date)